<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding" [fullscreen]="true">
  <div class="icon-container">
    <img src="https://cdn-icons-png.flaticon.com/512/14759/14759714.png" alt="party" class="party" />
  </div>

  <h3 class="no-events">No events in here</h3>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" (click)="openNewEventModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>