.event-card {
    margin: 16px 0;
    border-radius: 12px;
    overflow: hidden;
    background: transparent;
    box-shadow: none;
    width: 100%;
}

.events-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-image-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.event-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

.empty-state {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container .party {
    width: 100px;
    height: 100px;
    opacity: 0.7;
}

.no-events {
    color: #888;
    margin-top: 16px;
}

ion-tab-bar {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

ion-tab-button {
    --color: #888;
    --color-selected: #fff;
}

.event-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}

.empty-state .party {
    width: 150px;
    height: auto;
}

.button-group {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

ion-button {
    --background: none;
    --color: var(--ion-color-primary);
    font-size: 14px;
}

.copy-link-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

ion-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ion-card-title {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-link-button {
    flex-shrink: 0;
}

@media (max-width: 600px) {
    ion-card-title {
        font-size: 14px;
        /* Ajuste o tamanho do texto para dispositivos móveis */
    }
}