<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-page">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <!-- Nome -->
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input
          formControlName="name"
          type="text"
          placeholder="Type your name"
        >
        </ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          formControlName="email"
          type="email"
          placeholder="Type your e-mail"
        >
        </ion-input>
      </ion-item>

      <!-- Password -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Create a password"
        >
        </ion-input>
      </ion-item>

      <!-- Checkbox -->
      <ion-item lines="none" class="terms">
        <ion-checkbox slot="start" checked></ion-checkbox>
        <label>I have read the <a href="#">Terms of Service</a></label>
      </ion-item>

      <!-- Botão Sign in -->
      <ion-button
        expand="block"
        type="submit"
        class="btn-signin"
        [disabled]="registerForm.invalid"
      >
        Sign in
      </ion-button>

      <div class="divider">OR</div>

      <!-- Botões de Social Login -->
      <div class="social-login">
        <ion-button fill="clear" class="social-btn">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="social-btn">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>
      </div>

      <p class="login-link">
        Already have an account? <a href="/login">Login</a>
      </p>
    </div>
  </form>
</ion-content>
