<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="header-container">
        <ion-button fill="clear" class="back-button" slot="start" color="white">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title size="large" color="white">My Itinerary</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="hasData; else emptyTemplate" class="trips-container">
    <ion-item-sliding *ngFor="let itinerary of itineraries">
      <ion-item class="trip-card">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ itinerary.name }}</ion-card-title>
            <ion-card-subtitle>{{ itinerary.description }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Start Date:</strong> {{ itinerary.startDate | date }}</p>
            <p><strong>End Date:</strong> {{ itinerary.endDate | date }}</p>
            <p>
              <strong>Checklist:</strong> {{ itinerary.checklists.length }}
              items
            </p>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <!-- Swipe Actions -->
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="viewItinerary(itinerary)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="warning" (click)="editItinerary(itinerary)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteItinerary(itinerary)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

  <ng-template #emptyTemplate>
    <div class="empty-container">
      <img
        src="../../assets/images/vecteezy_plane-flying-around-the-world-clipart-design-illustration_9385013.png"
        alt="Celebrating"
      />
      <p class="empty-text">
        Nothing to see here, start now your adventure by adding a trip
      </p>
    </div>
  </ng-template>

  <!-- Always Visible Add Button -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openNewEventModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-footer-tabs></app-footer-tabs>
