.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.back-button {
    margin-right: 10px;
    font-size: 20px;
    --color: #fff;
}

ion-title {
    flex: 1;
    text-align: center;
    font-size: 32px;
    color: #fff;
}

ion-content {
    --background: #000000;
    --color: #ffffff;
}

.location-card {
    position: relative;
    margin: 5px 0;
    border-radius: 18px;
    overflow: hidden;
    height: 150px;
}

.location-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.location-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.location-label {
    font-size: 14px;
    opacity: 0.8;
}

.location-title {
    font-size: 24px;
    margin: 5px 0;
}

.calendar-section {
    margin: 20px 0;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.month-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.weekday {
    font-size: 12px;
    opacity: 0.7;
    padding: 5px;
}

.day {
    padding: 10px;
    border-radius: 18px;

    &.empty {
        pointer-events: none;
    }

    &.selected {
        background-color: #0066ff;
        color: white;
    }
}

.day.range {
    background-color: #0373f390;
    opacity: 75%;
    color: white;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;

}


.bottom-section {
    margin-top: 30px;
}

.query-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.query-input {
    display: flex;
    align-items: center;
    flex: 1;
    background: #000000;
    border: 1px solid white;
    border-radius: 18px;
    padding: 10px 15px;
}

.query-input ion-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #A9A9A9;
}

.query-input input {
    flex: 1;
    background: none;
    border: none;
    color: white;
    outline: none;
    padding: 5px 0;

    &::placeholder {
        color: #A9A9A9;
    }
}

.send-button {
    background: #0373F3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-icon {
    font-size: 40px;
    color: #000000;
}

.next-button {
    --background: #0066ff;
    border-radius: 18px;
    margin-top: 20px;
    text-transform: none;
}