.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.back-button {
  margin-right: 10px;
  font-size: 15px;
  --color: #fff;
}

ion-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.profile-container {
  text-align: center;
  position: relative;
}

.profile-picture {
  position: relative;
  display: inline-block;
}

.round-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  color: #3880ff;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.edit-buttons {
  margin-top: 15px; /* Space between the image and buttons */
  display: flex;
  justify-content: center; /* Center-align the buttons */
  gap: 10px; /* Space between the buttons */
}

.cancel-button,
.confirm-button {
  font-size: 12px;
  padding: 4px 8px;
}

.version-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 40px; /* Slight space above the footer tabs */
  font-size: 14px;
  color: #555;
}
