<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="custom-tab-bar">
        <ion-tab-button
          [class.tab-selected]="selectedTab === 'home'"
          (click)="selectTab('home')"
        >
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button
          [class.tab-selected]="selectedTab === 'events'"
          (click)="selectTab('events')"
        >
          <ion-icon name="airplane"></ion-icon>
          <ion-label>Trips</ion-label>
        </ion-tab-button>

        <ion-tab-button
          [class.tab-selected]="selectedTab === 'my-itinerary'"
          (click)="selectTab('my-itinerary')"
        >
          <ion-icon name="compass"></ion-icon>
          <ion-label>Itinerary</ion-label>
        </ion-tab-button>

        <ion-tab-button
          [class.tab-selected]="selectedTab === 'profile'"
          (click)="selectTab('profile')"
        >
          <ion-icon name="person"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
