ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  ion-button {
    margin-top: 20px;
  }

  small {
    color: red;
    font-size: 12px;
  }
}
