<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div
      *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
    >
      <small *ngIf="loginForm.get('email')?.errors?.['required']"
        >E-mail é obrigatório.</small
      >
      <small *ngIf="loginForm.get('email')?.errors?.['email']"
        >Formato de e-mail inválido.</small
      >
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div
      *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
    >
      <small *ngIf="loginForm.get('password')?.errors?.['required']"
        >Senha é obrigatória.</small
      >
      <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
        A senha deve ter no mínimo 6 caracteres.
      </small>
    </div>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button>
  </form>
</ion-content>
