<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Event Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editEvent()">
        <ion-icon name="pencil-outline" size="medium"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteEvent()">
        <ion-icon name="trash-outline" size="medium"></ion-icon>
      </ion-button>
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding black-theme">
  <!-- Image -->
  <ion-label class="section-title ion-text-center">Image</ion-label>
  <div class="image-container">
    <img *ngIf="event.image" [src]="event.image" alt="Event Image" class="event-image-preview">
    <img *ngIf="!event.image" src="https://via.placeholder.com/150" alt="Placeholder Image" class="event-image-preview">
  </div>

  <!-- Event Name -->
  <ion-label class="section-title ion-text-center">Event Name</ion-label>
  <ion-item lines="none" class="custom-item">
    <ion-label class="ion-text-center">{{ event.title }}</ion-label>
  </ion-item>

  <!-- Description -->
  <ion-label class="section-title ion-text-center">Description</ion-label>
  <ion-item lines="none" class="custom-item">
    <ion-label class="ion-text-center">{{ event.description }}</ion-label>
  </ion-item>

  <!-- Location -->
  <ion-label class="section-title ion-text-center">Location</ion-label>
  <ion-item lines="none" class="custom-item">
    <ion-label class="ion-text-center">{{ event.location }}</ion-label>
  </ion-item>
</ion-content>