<ion-header>
  <ion-toolbar color="black">
    <ion-title class="section">
      {{ isViewOnly ? "View Event" : isEdit ? "Edit Event" : "New Event" }}
    </ion-title>
    <ion-buttons slot="end">
      <!-- User Icon for Viewing Participants -->
      <ion-button *ngIf="isViewOnly" (click)="goToEventsParticipants()">
        <ion-icon name="people-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="saveEvent()" #eventForm="ngForm">
    <!-- Event Name -->
    <ion-label class="section">Event Name</ion-label>
    <ion-item lines="none" class="custom-item">
      <ion-input
        [(ngModel)]="event.title"
        name="title"
        placeholder="Enter a memorable name for your event"
        class="custom-input"
        required
        [readonly]="isViewOnly"
      ></ion-input>
    </ion-item>
    <div *ngIf="errorMessages.title" class="error-message">
      <ion-text color="danger">{{ errorMessages.title }}</ion-text>
    </div>

    <!-- Description -->
    <ion-label class="section">Description</ion-label>
    <ion-item lines="none" class="custom-item">
      <ion-textarea
        [(ngModel)]="event.description"
        name="description"
        placeholder="What's this event about?"
        rows="4"
        class="custom-textarea"
        [readonly]="isViewOnly"
      ></ion-textarea>
    </ion-item>
    <div *ngIf="errorMessages.description" class="error-message">
      <ion-text color="danger">{{ errorMessages.description }}</ion-text>
    </div>

    <!-- Location -->
    <ion-label class="section">Location</ion-label>
    <ion-item lines="none" class="custom-item">
      <ion-input
        [(ngModel)]="event.location"
        name="location"
        placeholder="Enter the location"
        class="custom-input"
        required
        [readonly]="isViewOnly"
      ></ion-input>
    </ion-item>
    <div *ngIf="errorMessages.location" class="error-message">
      <ion-text color="danger">{{ errorMessages.location }}</ion-text>
    </div>

    <!-- Start Date -->
    <ion-label class="section">Start Date</ion-label>
    <ion-item lines="none" class="custom-item">
      <ion-input
        [(ngModel)]="event.startDate"
        name="startDate"
        type="date"
        class="custom-input"
        required
        [readonly]="isViewOnly"
      ></ion-input>
    </ion-item>
    <div *ngIf="errorMessages.startDate" class="error-message">
      <ion-text color="danger">{{ errorMessages.startDate }}</ion-text>
    </div>

    <!-- End Date -->
    <ion-label class="section">End Date</ion-label>
    <ion-item lines="none" class="custom-item">
      <ion-input
        [(ngModel)]="event.endDate"
        name="endDate"
        type="date"
        class="custom-input"
        required
        [readonly]="isViewOnly"
      ></ion-input>
    </ion-item>
    <div *ngIf="errorMessages.endDate" class="error-message">
      <ion-text color="danger">{{ errorMessages.endDate }}</ion-text>
    </div>

    <div class="ion-margin-top" *ngIf="!isViewOnly">
      <ion-button expand="block" type="submit" style="--background: #0373f3">
        {{ isEdit ? "Update" : "Create" }}
      </ion-button>
    </div>
  </form>
</ion-content>
