.header-container {
    display: flex;
    align-items: center;
}

.back-button {
    margin-right: 10px;
    font-size: 24px;
    --color: #fff;
}

ion-title {
    flex: 1;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.days-navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .day-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;

        &.active {

            .day-label,
            .date-label {
                color: var(--ion-color-primary);
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
                height: 2px;
                background: var(--ion-color-primary);
            }
        }

        .day-label {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 4px;
        }

        .date-label {
            font-size: 14px;
            opacity: 0.7;
        }
    }
}

.timeline-container {
    padding: 20px 16px;

    .timeline-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .time-column {
            display: flex;
            align-items: center;
            width: 80px;

            ion-icon {
                font-size: 20px;
                margin-right: 8px;
                opacity: 0.7;
            }

            .time {
                font-size: 18px;
                color: #ffffff;
            }
        }

        .activity-content {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .activity-title {
                font-size: 18px;
                font-weight: 500;
                right: 10px;
                text-align: left;
                display: block;
            }

            .activity-icon {
                font-size: 24px;
                opacity: 0.8;
            }
        }
    }
}

.activity-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #151515;
}

.activity-icon {
    color: #ffffff;
    font-size: 24px;
}



.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.add-activity-button {
    --background: #0057b9;
    color: #000000;
    border-radius: 18px;
    font-size: 16px;
    padding: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-step-button {
    --background: #0373F3;
    color: #000000;
    border-radius: 18px;
    font-size: 16px;
    padding: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}