<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img
        src="assets/icon/favicon.png"
        alt="VIGO"
        style="width: 24px; height: 24px; margin-right: 8px"
      />
      V.1.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>LAST DEEP OIL ESCAVATION</strong>
    <ion-button (click)="navigateToLogin()">Ir para Login</ion-button>
    <ion-button (click)="navigateToSignUp()">Ir para SignUp</ion-button>
  </div>
</ion-content>

<app-footer-tabs></app-footer-tabs>
