<ion-content [fullscreen]="true">
  <div>
    <span slot="title">{{ greetingMessage }}</span>
    <h2>
      Hello,
      <span *ngIf="(user$ | async)?.name"> {{ (user$ | async)?.name }}</span>
    </h2>
  </div>
  <div id="container">
    <img src="../../assets/images/celebrating.png" alt="profilepicture" />
    <strong>Make your own private bachelor party plan</strong>
  </div>
  <ion-fab
    slot="fixed"
    horizontal="center"
    vertical="bottom"
    style="bottom: 2cm"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-footer-tabs></app-footer-tabs>
