<ion-content [fullscreen]="true">
  <div class="header-container">
    <span slot="title">{{ greetingMessage }}</span>
    <h2>
      Hello,
      <span *ngIf="user?.name"> {{ user?.name }}</span>
    </h2>
    <div class="profile-picture-container">
      <img
        [src]="user?.presetProfilePicture?.url || placeholderImage"
        alt="Profile Picture"
        class="profile-picture"
      />
    </div>
  </div>
  <div id="container">
    <img src="../../assets/images/celebrating.png" alt="Celebrating" />
    <strong>Make your own private bachelor party plan</strong>
  </div>
  <ion-fab
    slot="fixed"
    horizontal="center"
    vertical="bottom"
    style="bottom: 2cm"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-footer-tabs></app-footer-tabs>
