#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px auto;
  transition: background-color 0.3s ease;
}

.green-ball {
  background-color: green;
}

.red-ball {
  background-color: red;
}

ion-content {
  --padding-bottom: 90px; /* Match footer height */
}
