<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="NOT_STARTED">
      <ion-segment-button value="NOT_STARTED">Not-Started</ion-segment-button>
      <ion-segment-button value="COMPLETED">Complete</ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button (click)="createModal('create')">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Show spinner when loading -->
  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <!-- Show message when no checklist items are found -->
  <div *ngIf="!isLoading && checklistItems.length === 0">
    <p>No checklist items found.</p>
  </div>

  <!-- Checklist items list -->
  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let item of filteredTasks">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
      <ion-checkbox
        slot="start"
        [checked]="item.status === 'COMPLETED'"
        (ionChange)="moveTask(item)"
      ></ion-checkbox>
      <ion-button slot="end" (click)="goMediaPage(item.id, item.checklistId)">
        <ion-icon name="attach"></ion-icon>
      </ion-button>

      <ion-button slot="end" (click)="createModal('edit', item)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
